body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.input-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 733px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    box-sizing: border-box;
    margin-right: 10px;
}

button {
    background-color: #66b2b2;
    color: white;
    width: 172px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #57a1a1;
}

#generated-poetry {
    margin-top: 50px;
    text-align: center;
}

.poetry-output-container {
    max-width: 800px; /* Limit width */
    margin: 0 auto; /* Center horizontally */
    text-align: left; /* Align text to the left */
}

#generated-poetry h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#generated-poetry p {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 50px;
}
